<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>exemple3 - *ngIf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- *ngIf : faire appraitre un élément du DOM sous une condition particulière -->
  <ion-card>
    <ion-card-header (click)="toggle()">
      <ion-icon [name]="collapsed ? 'arrow-down' : 'arrow-up'"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="!collapsed">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, vero!
    </ion-card-content>
  </ion-card>
</ion-content>
