<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>exemple2 - Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{ nombre }}</p>
  <ion-button 
    (click) = "add()" 
    color="tertiary" 
    size="block" 
    shape="round" 
    fill="outline" 
    [disabled]="nombre > 9"
  >
    +
  </ion-button>
  <ion-button 
    (click) = "moins()" 
    color="tertiary" 
    size="block" 
    shape="round" 
    fill="outline" 
    [disabled]="nombre < 1"
  >
    -
  </ion-button>

  <!-- ngClass : ajouter une classe sur une propriété particulière -->
  <p 
    (mouseenter) = "highlight()" 
    [ngClass]="{ 'pink' : isHighlighted == true }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus labore praesentium facilis blanditiis quibusdam? Quibusdam velit, nulla et esse suscipit repellat fuga, fugiat vel perspiciatis error neque laudantium asperiores sapiente
  </p>

</ion-content>
